<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      
	  internalLogFile="C:\C#project\MyHomeWork\MyHomeWork\MyHomeWork2.0\Linkedin1\MirrorLink.NLog\internal.txt"
	  internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->

		<!-- consists all information about application -->
		<target xsi:type="File" 
				name="allFile" 
				fileName="C:\C#project\MyHomeWork\MyHomeWork\MyHomeWork2.0\Linkedin1\MirrorLink.NLog\allFile.log"
				layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" />

		<!-- consists information about class -->
		<target xsi:type="File"
					name="ownFile"
				fileName="C:\C#project\MyHomeWork\MyHomeWork\MyHomeWork2.0\Linkedin1\MirrorLink.NLog\ownFile.log"
					layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" />
		
		<target xsi:type="Console" 
				name="logConsole"
				layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" />
		
		</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		
		<!-- Trace - detalization -->
		<logger name="*" minlevel="Trace" writeTo="allFile" />
		<logger name="*" minlevel="Trace" writeTo="ownFile" />
		<logger name="Microsoft.*" minlevel="Trace" final="true" />

		<!-- Information - common information about application -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Information" writeTo="logConsole, ownFile" final="true" />
		
		
	</rules>
</nlog>