<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="Logs\internal.txt"
      internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->

		<target xsi:type="File" 
					name="ownFile"
				fileName="C:\C#project\MyHomeWork\MyHomeWork\MyHomeWork2.0\ASP.NET_React_Rippon\WebApplication1"
					layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" />

		<target xsi:type="Console"
				name="logconsole"
				layout="${longdate}|${level}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="ownFile" />
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
	</rules>
</nlog>